<div class="container">
  <h1>Mon adresse</h1>
  <form [formGroup]="addressForm">
    <div class="form-group">
      <label for="adresse">Adresse :</label>
      <input
        id="adresse"
        [readOnly]="!updating"
        name="adresse"
        type="text"
        placeholder="ex: 8 rue de la Protection"
        formControlName="adresse"
      />
      <div class="error" *ngIf="updating && form['adresse'].errors">
        <span *ngIf="form['adresse'].hasError('pattern')"
          >Votre adresse doit faire entre 20 et 150 caractères, sans inclure de
          caractères spéciaux</span
        >
        <span *ngIf="form['adresse'].hasError('required')"
          >Une adresse est nécessaire</span
        >
      </div>
    </div>
    <div class="form-group">
      <label for="ville">Ville :</label>
      <input
        id="ville"
        [readOnly]="!updating"
        name="ville"
        type="text"
        placeholder="ex: 8 rue de la Protection"
        formControlName="ville"
      />
      <div class="error" *ngIf="updating && form['ville'].errors">
        <span *ngIf="form['ville'].hasError('minlength')"
          >Votre ville doit faire au moins 2 caractères</span
        >
        <span *ngIf="form['ville'].hasError('required')"
          >Une ville est nécessaire</span
        >
      </div>
    </div>
    <div class="form-group">
      <label for="codePostal">Code Postal :</label>
      <input
        id="codePostal"
        [readOnly]="!updating"
        name="codePostal"
        type="number"
        placeholder="ex: 06000"
        formControlName="codePostal"
      />
      <div class="error" *ngIf="updating && form['codePostal'].errors">
        <span *ngIf="form['codePostal'].hasError('pattern')"
          >Votre code postal doit être composé de 5 chiffres exclusivement</span
        >
        <span *ngIf="form['codePostal'].hasError('required')"
          >Un code postal est nécessaire</span
        >
      </div>
    </div>
    <div class="btn-container">
      <button
        [ngClass]="updating ? 'updating' : ''"
        class="submit"
        (click)="updateInfos()"
        [disabled]="updating && !addressForm.valid"
      >
        <span>{{ message }}</span>
      </button>
      <button class="cancel" (click)="cancel()" *ngIf="updating">
        Annuler
      </button>
    </div>
  </form>
</div>
