<nav>
  <a routerLink="/"
    ><i class="fa-solid fa-arrow-left fa-xl"></i> Retour au menu</a
  >
</nav>

<div id="placeholder" *ngIf="placeholder">
  <div class="container">
    <h2>Panier</h2>

    <div class="grid">
      <div class="sidebar">
        <h3>Total ## articles</h3>
        <div class="buttons">
          <button>Commander (###€)</button>
          <span> Annuler </span>
        </div>
      </div>
      <ul class="cartlist">
        <div class="item" *ngFor="let i of 10 | repeat">
          <div class="block-img">
            <img />
          </div>
          <div class="block-info">
            <div class="product-title">
              <span class="h3">##M IPSUM DOLOR</span>
            </div>
            <div class="product-price-mobile">
              <span>##€##</span>
            </div>
            <div class="product-stock">
              <span>Lorem ipsum dolor</span>
            </div>
            <div class="product-size">
              <span>lorem : ###</span>
            </div>
            <div class="product-quantity">
              <div class="select-quantity">
                <span>#######</span>
              </div>
              <div class="block-price">
                <!-- <span>####€</span> -->
              </div>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="cartItems && cartItems.length === 0">
  <div class="container">
    <h2>Panier</h2>
    <p>Votre panier est vide pour le moment ;)</p>
    <button (click)="alert()">ALTER</button>
  </div>
</div>

<div class="cart" *ngIf="cartItems && cartItems.length > 0">
  <!-- <div class="container"> -->

  <div class="grid">
    <div class="sidebar">
      <h3>Total ({{ articleNum(cartItems) }} articles)</h3>
      <div class="buttons">
        <button *ngIf="cartItems.length > 0" routerLink="/finalize-order">
          Commander ({{ totalPrice }}€)
        </button>
        <a class="cancel" *ngIf="cartItems.length > 0" (click)="deleteOrder()">
          Annuler
        </a>
      </div>
    </div>
    <ul class="cartlist">
      <div class="item" *ngFor="let cartItem of cartItems; let i = index">
        <div class="block-img">
          <img src="/assets/{{ cartItem.photo }}/asset1.jpeg" />
        </div>
        <div class="block-info">
          <div class="product-title">
            <h3 class="normal">{{ cartItem.titre }}</h3>
            <h3 class="small" *ngIf="cartItem.titre.length < 17">
              {{ cartItem.titre }}
            </h3>
            <h3 class="small" *ngIf="cartItem.titre.length >= 17">
              {{ cartItem.titre.slice(0, 16) + "..." }}
            </h3>
            <div class="action" (click)="deleteProduct(i)">
              <i class="fa-solid fa-xmark fa-2xl"></i>
            </div>
            <div class="action-mobile" (click)="deleteProduct(i)">
              <i class="fa-solid fa-xmark"></i>
            </div>
          </div>
          <div
            [ngClass]="
              cartItem.stock > 5 ? 'okay' : cartItem.stock > 0 ? 'low' : 'none'
            "
            class="product-stock"
          >
            <p *ngIf="cartItem.stock > 0">
              <span *ngIf="cartItem.stock > 5">Encore </span
              ><span *ngIf="cartItem.stock < 5">Plus que </span
              >{{ cartItem.stock }} en stock
            </p>
            <p *ngIf="cartItem.stock === 0">Rupture de stock</p>
          </div>
          <div class="product-size">
            <p>Taille : {{ cartItem.taille }}</p>
          </div>
          <div class="product-quantity">
            <div class="select-quantity">
              <select
                [hidden]="showNumberInput[i] || cartItem.quantite > 9"
                (change)="quantity($event, i)"
                name="{{ cartItem.id }}"
                id="quantity-{{ i }}"
              >
                <option
                  [selected]="unit === cartItem.quantite"
                  *ngFor="let unit of range(cartItem.stock)"
                  value="{{ unit }}"
                >
                  {{ unit }}
                </option>
                <option *ngIf="cartItem.stock > 9" value="custom">10+</option>
              </select>

              <input
                [hidden]="!showNumberInput[i] && cartItem.quantite <= 9"
                type="number"
                value="{{ cartItem.quantite }}"
                (change)="quantity($event, i)"
                name="{{ cartItem.id }}"
              />

              <button [hidden]="!showNumberInput[i] && cartItem.quantite <= 9">
                Update
              </button>
              <!-- Le bouton est là pour faire joli, ça update peu importe ou on clique -->
            </div>
            <div class="block-price">
              <p class="h3 price">{{ cartItem.prix * cartItem.quantite }}€</p>
            </div>
          </div>
        </div>
      </div>
    </ul>
    <!-- </div> -->
  </div>
</div>
