<header class="header">
  <!-- Barre de navigation -->
  <nav #headerNav [ngClass]="scrolldown ? 'scrolldown' : ''" class="header-nav">
    <div class="logo">
      <div class="header-content">
        <div (click)="toggleMenu()" class="hamburger-lines" id="menu">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div>
      </div>
      <nav [ngClass]="menuOpened ? 'active' : ''" class="categories">
        <div class="close" (click)="toggleMenu()">
          <i class="fa-solid fa-xmark fa-2x close-btn"></i>
        </div>
        <ul class="dropdownList">
          <li>
            <div class="cat-femmes">
              <button class="dropdown-btn" (click)="toggleDropdown(0)">
                <span>Produits femmes</span>
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-container" #dropdownContainer>
                <ng-container *ngFor="let categorie of categories">
                  <a
                    routerLink="products/categorie/{{ categorie.categorie }}/{{
                      categorie.public
                    }}"
                    (click)="toggleMenu()"
                    *ngIf="categorie.public === 'f'"
                    >{{ categorie.categorie }}</a
                  >
                </ng-container>
              </div>
            </div>
          </li>
          <li>
            <div class="cat-hommes">
              <button class="dropdown-btn" (click)="toggleDropdown(1)">
                <span>Produits hommes</span>
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-container" #dropdownContainer>
                <ng-container *ngFor="let categorie of categories">
                  <a
                    routerLink="products/categorie/{{ categorie.categorie }}/{{
                      categorie.public
                    }}"
                    (click)="toggleMenu()"
                    *ngIf="categorie.public === 'm'"
                    >{{ categorie.categorie }}</a
                  >
                </ng-container>
              </div>
            </div>
          </li>
          <li>
            <div class="cat-mixtes">
              <button class="dropdown-btn" (click)="toggleDropdown(2)">
                <span>Produits mixtes</span>
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-container" #dropdownContainer>
                <ng-container *ngFor="let categorie of categories">
                  <a
                    routerLink="products/categorie/{{ categorie.categorie }}/{{
                      categorie.public
                    }}"
                    (click)="toggleMenu()"
                    *ngIf="categorie.public === 'mixte'"
                    >{{ categorie.categorie }}</a
                  >
                </ng-container>
              </div>
            </div>
          </li>
        </ul>
        <div class="menu-pattern"></div>
        <div id="bg-image"></div>
      </nav>
      <h1>
        <a (click)="backToMenu()">{{ title }}</a>
      </h1>
    </div>
    <form class="search">
      <div class="searchbar">
        <input
          class="search"
          type="search"
          placeholder="Rechercher..."
          minlength="3"
          (keydown.enter)="test()"
        />
        <!-- <ul class="resultBox" *ngIf="searchResults">
          <li *ngFor="let result of searchResults">
            <a>{{ result.titre }}</a>
          </li>
        </ul> -->
        <input type="submit" name="submit" hidden />
        <i class="fa-solid fa-search fa-1_5x" (click)="test()"></i>
      </div>
    </form>
    <div class="icons">
      <div class="search-mobile">
        <i class="fa-solid fa-search fa-3x"></i>
      </div>
      <div class="profile" routerLink="profile">
        <i class="fa-solid fa-user fa-3x"></i>
      </div>

      <div class="cart" (click)="goToPanier()">
        <div *ngIf="countItems === 0" class="cart-icon">
          <i class="fa-solid fa-cart-shopping fa-3x"></i>
        </div>
        <div *ngIf="countItems > 0" class="cart-icon">
          <div class="cart-amount" [@cartItemCount]="animationState">
            <span>{{ countItems }}</span>
          </div>
          <i class="fa-solid fa-cart-shopping fa-3x"></i>
        </div>
      </div>
    </div>
  </nav>
  <!--Fin de la barre de navigation-->
</header>
