.product-img {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
  background: rgb(157, 157, 157);
}

.carte {
  text-align: center;
  color: transparent;
}
.product-description {
  padding-top: clamp(0.25em, 0.3vh, 0.5rem);
}
.product-description > * {
  display: block;
  padding-block: clamp(0.2rem, 0.3rem, 0.4rem);
}

.buy-btn {
  min-width: 4rem;
  max-width: 90%;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 13px;
  margin-block: 0.5rem;
  padding: 1rem 3rem;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  #btn-small-screen {
    display: none !important;
  }
}
