.product-img {
  // animation: 1.8s ease-out 0s infinite forwards loading;
  animation: 3s infinite loading;
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
  background: rgb(157, 157, 157);
  border-radius: 12px;
}

.carte {
  user-select: none;
  text-align: center;
  color: transparent;
}
.product-description {
  margin-top: clamp(0.6em, 1vh, 1rem);
}
.product-description > * {
  margin: clamp(0.4rem, 0.5rem, 0.7rem) auto;
  // width: 40%;
}
.product-description span {
  animation: 2s 0.5s infinite loading;
  border-radius: 5px;
  background: #0000005c;
}

.buy-btn {
  animation: 2s linear 0.5s infinite backwards loading;
  background: #0000005c;
  min-width: 4rem;
  max-width: 90%;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 13px;
  margin-block: 0.5rem;
  padding: 1rem 3rem;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  #btn-small-screen {
    display: none !important;
  }
}

@keyframes loading {
  70% {
    opacity: 100%;
  }
  85% {
    opacity: 70%;
  }
  100% {
    opacity: 100%;
  }
}
