<div class="placeholder" *ngIf="!product">
  <h1 style="font-size: 50px">RIEN POUR LE MOMENT</h1>
</div>

<div class="carte">
  <a class="test-hover" routerLink="/products/{{ product.reference }}">
    <div *ngIf="!product" class="product-img"></div>
    <img
      *ngIf="product"
      src="assets/{{ product.photo }}/asset2.jpeg"
      alt=""
      class="product-img"
    />
  </a>
  <div class="btn-container">
    <a
      id="btn-large-screen"
      class="buy-btn"
      (click)="modalService.open('modal-' + product.reference)"
    >
      Ajouter au panier
    </a>
  </div>
  <div class="product-description">
    <a class="link" routerLink="/products/{{ product.reference }}">
      <span class="product-name">
        {{ product.titre.toUpperCase().slice(0, 20) }}
        <span *ngIf="product.titre.length > 20">...</span>
      </span>
    </a>
    <span class="product-price"> {{ product.prix }}€ </span>
    <span class="product-rating">Avis clients : {{ product.note }} </span>
    <a
      class="buy-btn"
      id="btn-small-screen"
      (click)="modalService.open('modal-' + product.reference)"
      >Ajouter</a
    >
    <span class="additional-info">
      {{ product.stock }}
      encore en stock
    </span>
  </div>
</div>

<app-modal *ngIf="product" [id]="'modal-' + product.reference">
  <h1>A custom modal popup</h1>
  <p>Home page text: {{ product.reference }}</p>
  <button (click)="modalService.close()">Close</button>
</app-modal>
