<div class="jw-modal">
  <!-- <div class="jw-modal-title"></div> -->
  <div class="jw-modal-body">
    <i class="fa-solid fa-xmark" (click)="close()"></i>
    <form class="password" [formGroup]="passwordForm">
      <div class="form-group">
        <p class="label">Mot de passe :</p>
        <input
          formControlName="password"
          id="password"
          name="password"
          type="{{ showPassword1 ? 'text' : 'password' }}"
        /><i
          class="fa fa-eye"
          [ngClass]="{ 'fa-eye-slash': showPassword1 }"
          (click)="showPassword1 = !showPassword1"
        ></i>
        <div
          class="error"
          *ngIf="submitted && submittedGood && passForm['password'].errors"
        >
          <span *ngIf="passForm['password'].hasError('passwordPattern')"
            >Votre mot de passe fait un minimum de 8 caractères, avec 1
            majuscule et 1 chiffre</span
          >
          <span *ngIf="passForm['password'].hasError('required')"
            >Une mot de passe est nécessaire</span
          >
        </div>
      </div>
      <div formGroupName="newpasswordForm">
        <div class="form-group">
          <p class="label">
            Nouveau mot de passe
            <i (click)="passInfo()" class="fa-solid fa-circle-info fa-xs"></i>:
          </p>
          <input
            formControlName="newPassword"
            id="newPassword"
            name="newPassword"
            type="{{ showPassword2 ? 'text' : 'password' }}"
          />
          <i
            class="fa fa-eye"
            [ngClass]="{ 'fa-eye-slash': showPassword2 }"
            (click)="showPassword2 = !showPassword2"
          ></i>
          <div
            class="error"
            *ngIf="
              submitted && submittedGood && newpassword['newPassword'].errors
            "
          >
            <span *ngIf="newpassword['newPassword'].hasError('passwordPattern')"
              >Votre nouveau mot de passe doit faire un minimum de 8 caractères,
              avec 1 majuscule et 1 chiffre</span
            >
            <span *ngIf="newpassword['newPassword'].hasError('required')"
              >Un nouveau mot de passe est nécessaire</span
            >
          </div>
        </div>
        <div class="form-group">
          <p class="label">Confimer le nouveau mot de passe :</p>
          <input
            formControlName="confirmNewPassword"
            id="confirmNewPassword"
            name="confirmNewPassword"
            type="{{ showPassword3 ? 'text' : 'password' }}"
          />
          <i
            class="fa fa-eye"
            [ngClass]="{ 'fa-eye-slash': showPassword3 }"
            (click)="showPassword3 = !showPassword3"
          ></i>
          <div
            class="error"
            *ngIf="
              newpassword['newPassword'].touched &&
              newpassword['confirmNewPassword'].errors
            "
          >
            <span>Les mots de passe doivent être identiques</span>
          </div>
        </div>
      </div>
      <div class="button">
        <button class="submit" (click)="confirmPasswordChange()">
          Confirmer le changement
        </button>
      </div>
    </form>
    <div *ngIf="passwordChangeMsg">
      <span
        [ngClass]="passwordChangeMsg.status ? 'success-msg' : 'error-msg'"
        >{{ passwordChangeMsg.message }}</span
      >
    </div>
  </div>
</div>
