app-password-modal {
  /* modals are hidden by default */
  display: none;

  .jw-modal {
    /* modal container fixed across whole screen */
    position: fixed;
    inset: 0;

    /* z-index must be higher than everything else on the page */
    z-index: 100;

    /* semi-transparent black background exposed by padding */
    background-color: rgba(0, 0, 0, 0.75);
    padding: 40px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    /* enables scrolling for tall modals */
    overflow: auto;
  }

  .jw-modal-body {
    position: relative;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}

body.jw-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}

h2 {
  text-align: center;
  font-size: clamp(1rem, 3vw, 24px);
}
.form-group {
  padding-block: 1rem;
  p.label {
    padding-bottom: 0.5rem;
    user-select: none;
    font-size: clamp(0.95rem, 2.8vw, 24px);
  }
  .error {
    padding-top: 0.5rem;
    padding-inline: 0.5rem;
    font-size: clamp(0.75rem, 2.8vw, 20px);
    color: crimson;
    @media (max-width: 361px) {
      padding-inline: 0;
    }
  }
}

input {
  &:read-only {
    color: hsl(0, 0%, 51%);
    font-size: clamp(0.75rem, 2.2vw, 19px);
    &:focus,
    &:active {
      outline: none;
    }
  }
  transition: 0.3s ease;
  height: 6vh;
  padding-left: 0.7rem;
  padding-right: 2.5rem;
  width: 70%;
  min-width: 200px;
  font-size: clamp(0.95rem, 2.8vw, 24px);
  border-radius: 7px;
  outline: none;
  border: none;
  background: hsla(0, 0%, 50%, 0.25);
  color: #404040;
  &:focus,
  &:active {
    outline: 2px solid var(--color-blue);
  }
  &.input-error {
    background: rgba(255, 0, 0, 0.15);
    outline: 2px solid rgba(220, 20, 60, 0.75);
  }
}
input::placeholder {
  color: #8f8e8e;
}

.fa-eye {
  z-index: 1;
  margin-left: -2rem;
}

.fa-circle-info {
  cursor: pointer;
  font-size: 0.5em;
  transform: translate(-0.6em, -0.65em);
}

.fa-xmark {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--color-blue);
  padding: 1rem 1rem;
}

.button {
  padding-top: clamp(0.5rem, 3vh, 1rem);
}
button {
  padding: 0.3em 1em;
  display: grid;
  font-size: clamp(0.75rem, 2.5vw, 24px);
  place-items: center;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  &.submit {
    color: var(--color-blue);
    border: 2px solid var(--color-blue);
    background: #f3f3f3;
    &:hover {
      color: #f3f3f3;
      background: var(--color-blue);
      border: 1px solid black;
    }
  }
}
