<div class="jw-modal">
  <div class="jw-modal-body">
    <div class="header">
      <h2 class="title">Ajouter au panier</h2>
      <i (click)="close()" class="fa-solid fa-xmark close"></i>
    </div>
    <div class="size-container" *ngIf="data">
      <div class="size" *ngFor="let item of data; let i = index">
        <button
          [disabled]="item.stock === 0"
          (click)="addToCart(item)"
          class="size-btn"
        >
          <div class="taille">
            <h3>{{ item.taille }}</h3>
          </div>

          <span *ngIf="item.stock === 0">Indisponible</span>
          <span *ngIf="item.stock > 0 && this.user"
            >{{ item.stock }} en stock</span
          >
        </button>
        <!-- </div> -->
      </div>
    </div>
    <!-- <div class="container" *ngIf="data">
      <h1>{{ data[0].titre }}</h1>
      <p>{{ data[0].description }}</p>
      <p>{{ data[0].prix }}€</p>
      <div class="cta" [formGroup]="form">
        <div class="color-picker">
          <select
            formControlName="size"
            class="select"
            (change)="selectSize()"
            name="choseSize"
          >
            <option disabled selected>Choisir une taille</option>
            <option
              *ngFor="let item of data; let i = index"
              value="{{ i }}"
              [disabled]="item.stock === 0"
            >
              Taille {{ item.taille }} -
              <small *ngIf="item.stock === 0">Indisponible</small>
              <small *ngIf="item.stock > 0"
                >Encore {{ item.stock }} disponible<span *ngIf="item.stock > 1"
                  >s</span
                ></small
              >
            </option>
          </select>
        </div>
        <button
          [disabled]="form.invalid"
          (click)="addToCart()"
          type="submit"
          class="buy-cart"
        >
          <span>Ajouter au panier</span>
        </button>
      </div>
    </div> -->
  </div>
</div>
