<div class="container">
  <div class="test" *ngIf="orderArray">
    <p>
      <span>{{ orderArray.length }}</span> commande<span
        *ngIf="orderArray.length > 1"
        >s</span
      >
      enregistrée<span *ngIf="orderArray.length > 1">s</span>
    </p>
  </div>
  <button (click)="console()">Console</button>
  <div class="test" *ngIf="!orderArray">
    <p>Aucune commande enregistrée</p>
  </div>

  <section *ngIf="ongoingArray" class="en-cours commande">
    <h4>
      Commande en cours <strong>({{ ongoingArray.length }})</strong>
    </h4>
    <p>Total : {{ ongoingArray[0].montant }}€</p>
    <p>Produits :</p>
    <ul *ngFor="let item of ongoingArray[0].details">
      <li>Id : {{ item.produit.id }}</li>
      <li>Nom : {{ item.produit.titre }}</li>
      <li>Prix : {{ item.produit.prix }}</li>
      <li>Taille : {{ item.produit.taille }}</li>
      <img
        src="assets/{{ item.produit.photo }}/asset1.jpeg"
        alt="{{ item.produit.titre }}"
      />
    </ul>
  </section>
  <section *ngIf="finishedArray" class="en-cours commande">
    <h4>
      Commande<span *ngIf="finishedArray.length > 1">s</span> précédente<span
        *ngIf="finishedArray.length > 1"
        >s</span
      ><strong> ({{ finishedArray.length }})</strong>
    </h4>
    <div class="commandes-show" *ngFor="let commande of finishedArray">
      <p>Total : {{ commande.montant }}€</p>
      <p>Produits :</p>
      <ul *ngFor="let item of commande.details">
        <li>Id : {{ item.produit.id }}</li>
        <li>Nom : {{ item.produit.titre }}</li>
        <li>Prix : {{ item.produit.prix }}</li>
        <li>Taille : {{ item.produit.taille }}</li>
        <img
          src="assets/{{ item.produit.photo }}/asset1.jpeg"
          alt="{{ item.produit.titre }}"
        />
      </ul>
    </div>
  </section>
</div>
