.container {
  margin: 4rem auto 2rem;
  width: 90%;
  max-width: 1400px;
}
h1 {
  text-align: center;
  font-size: clamp(1.2rem, 3vw, 2.5em);
  font-weight: 700;
}

.grid {
  position: relative;
  padding-top: 5vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width: 1150px) {
    grid-template-columns: 1fr;
  }
}

section h4 {
  font-size: clamp(0.95rem, 3vw, 22px);
}

.cartlist {
  margin-top: clamp(1rem, 6vh, 5rem);
  box-shadow: 4px 4px 9px 2px hsla(0, 0%, 0%, 0.2);
  border-radius: 12px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, #f5f5f5 100%);
  padding: clamp(1rem, 3vh, 2.5rem) clamp(1rem, 4vw, 5rem);
  .recap-order {
    h4 {
      font-size: clamp(0.95rem, 3vw, 22px);
      text-align: center;
    }
    .date-show {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h5 {
        font-size: clamp(0.75rem, 2.5vw, 20px);
        margin-bottom: 0;
      }
      button {
        font-size: clamp(0.75rem, 2.5vw, 20px);
        cursor: pointer;
        padding: 0.4rem 0.6rem;
        border-radius: 5px;
        transition: 0.3s ease-in-out;
        color: var(--color-blue);
        background: #f3f3f3;
        border: 1px solid var(--color-blue);
        &:hover {
          color: #f3f3f3;
          background: var(--color-blue);
        }
        &:active {
          transform: scale(0.975);
        }
      }
    }
  }
}

.item {
  p {
    font-size: clamp(0.85rem, 3vw, 20px);
  }
  h2 {
    font-size: clamp(1.2rem, 4vw, 30px);
  }
  h3 {
    font-size: clamp(1.05rem, 3.5vw, 24px);
  }
  padding-block: 1.5rem;
  display: grid;
  max-width: 700px;
  grid-template-columns: max-content 2fr;
  @media (max-width: 600px) {
    grid-template-columns: max-content 1fr;
  }

  // @media (max-width: 450px) {
  //   grid-template-columns: 1fr;
  //   place-items: center;
  // }

  .block-info {
    padding-left: 1rem;
    h3 {
      text-transform: capitalize;
    }
  }

  .product-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    h3 {
      cursor: pointer;
      margin-bottom: 0;

      &.small {
        display: none;
        @media (max-width: 450px) {
          display: block;
        }
      }
      &.normal {
        display: block;
        @media (max-width: 450px) {
          display: none;
        }
      }
    }
    .action-mobile {
      cursor: pointer;
      padding: 1rem;
      display: none;
      @media (max-width: 600px) {
        display: block;
      }
    }
    .action {
      cursor: pointer;
      padding: 1rem;
      display: block;
      @media (max-width: 600px) {
        display: none;
      }
    }
  }

  .block-img {
    margin-left: 1rem;
    img {
      cursor: pointer;
      border-radius: 4px;
      width: 180px;
      max-width: 38vw;
      aspect-ratio: 11/15;
      object-fit: cover;
    }
  }

  .product-stock {
    padding-bottom: 0.3em;
    p {
      font-size: clamp(0.7rem, 2vw, 1rem);
    }
    &.okay {
      color: hsl(120, 54%, 42%);
    }
    &.low {
      color: hsl(120, 54%, 62%);
    }
    &.none {
      color: rgb(172, 172, 172);
    }
  }

  .block-price {
    .price {
      overflow: hidden;
      text-align: right;
      padding: 0.2rem 0.5rem 0 0;
      font-size: clamp(1.2rem, 3.5vw, 24px);
      @media (max-width: 500px) {
        text-align: left;
        padding-block: 0.5rem;
      }
    }
    p {
      padding-block: 0.3em;
    }
  }

  p {
    font-size: clamp(0.8rem, 2.5vw, 1.1rem);
    margin-bottom: 0;
  }
  input {
    width: calc(50px + 3vw);
    font-size: clamp(0.8rem, 2.5vw, 1.1rem);
    padding: 0.6rem;
    outline: none;
    border-radius: 5px;
    border: 2px solid var(--color-blue);
    &:focus {
      animation: blink 1s infinite;
    }
  }
  button {
    margin-left: clamp(0.6rem, 3.5vw, 30px);
    cursor: pointer;
    border: none;
    padding: 0.4rem 0.6rem;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    color: var(--color-blue);
    background: #f3f3f3;
    border: 1px solid var(--color-blue);
    &:hover {
      color: #f3f3f3;
      background: var(--color-blue);
    }
    &:active {
      transform: scale(0.975);
    }
  }
}
