<div class="container" *ngIf="!loading && pastOrders.length === 0">
  <h1>Mes commandes</h1>

  <div class="container">
    <p>Vous n'avez effectué aucune commande pour le moment</p>
  </div>
</div>

<div class="container" *ngIf="pastOrders && pastOrders.length > 0">
  <section class="commande">
    <h4>
      Commande<span *ngIf="pastOrders.length > 1">s</span> précédente<span
        *ngIf="pastOrders.length > 1"
        >s</span
      ><strong> ({{ pastOrders.length }})</strong>
    </h4>
    <div class="commandes-show" *ngFor="let commande of pastOrders">
      <div class="recap-order">
        <h5>
          Total : {{ getTotalArticles(commande) }} articles -
          {{ commande.montant }}€
        </h5>
      </div>
      <p>Produits :</p>
      <ul *ngFor="let item of commande.details">
        <li>Id : {{ item.produit.id }}</li>
        <li>Nom : {{ item.produit.titre }}</li>
        <li>Prix : {{ item.produit.prix }}</li>
        <li>Taille : {{ item.produit.taille }}</li>
        <!-- <img
          src="assets/{{ item.produit.photo }}/asset1.jpeg"
          alt="{{ item.produit.titre }}"
        /> -->
      </ul>
    </div>
  </section>
</div>
