<div class="div-center" style="margin-top: 4rem" *ngIf="submittedGood">
  <app-loading></app-loading>
</div>
<div *ngIf="!submittedGood" class="form-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="error text-center" style="color: crimson" *ngIf="errormsg">
      {{ errormsg }}
    </div>
    <div class="group">
      <input type="mail" formControlName="email" placeholder="email" />
      <div
        class="error"
        *ngIf="form['email'].errors && submitted && !submittedGood"
      >
        <div *ngIf="form['email'].hasError('required')">Email is required</div>
        <div *ngIf="form['email'].hasError('email')">Email is invalid</div>
      </div>
    </div>
    <div class="group">
      <input
        type="password"
        formControlName="password"
        placeholder="mot de passe"
      />
      <div
        class="error"
        *ngIf="form['password'].errors && submitted && !submittedGood"
      >
        <div *ngIf="form['password'].hasError('required')">
          Un mot de passe est requis pour se connecter
        </div>
        <div *ngIf="form['password'].hasError('minlength')">
          Le mot de passe doit faire au moins 2 caractères
        </div>
      </div>
    </div>
    <div class="group">
      <button type="submit">Se connecter</button>
      <div class="signup">
        <p>
          Vous n'avez pas encore de compte ?
          <a routerLink="/signup">Créer un compte</a>
        </p>
      </div>
    </div>
  </form>
</div>
