<app-loading *ngIf="submittedGood"></app-loading>
<div *ngIf="!submittedGood" class="form-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="group">
      <input type="mail" formControlName="email" placeholder="email" />
      <div
        style="color: crimson"
        *ngIf="form['email'].errors && submitted && !submittedGood"
      >
        <div *ngIf="form['email'].hasError('required')">Email is required</div>
        <div *ngIf="form['email'].hasError('email')">Email is invalid</div>
      </div>
    </div>
    <div class="group">
      <input
        type="password"
        formControlName="password"
        placeholder="mot de passe"
      />
      <div
        style="color: crimson"
        *ngIf="form['password'].errors && submitted && !submittedGood"
      >
        <div *ngIf="form['password'].hasError('required')">
          Password is required
        </div>
        <div *ngIf="form['password'].hasError('passwordPattern')">
          Minimum de 8 caractères, 1 majuscule et 1 chiffre
        </div>
      </div>
    </div>
    <div class="group">
      <button type="submit">Se connecter</button>
    </div>
  </form>
</div>
