.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.form-container {
  margin: 5rem auto;
  width: 90%;
  max-width: 1000px;
  //   min-height: 500px;
  padding: 20px;
  box-shadow: 2px 5px 10px rgba($color: #000000, $alpha: 0.3);
  border-radius: 12px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.group {
  width: 70%;
  min-width: 250px;
  padding-block: 1.25rem;
  // display: grid;
  // place-items: center;
  &:last-of-type {
    display: grid;
    place-items: center;
  }
}
input {
  padding: 0.75rem 1rem;
  width: 100%;
  font-size: clamp(0.95rem, 2.8vw, 24px);
  border-radius: 7px;
  outline: none;
  border: none;
  background: hsla(0, 0%, 50%, 0.25);
  color: #727272;
  &:focus,
  &:active {
    // animation: blink 1s infinite;
    outline: 2px solid var(--color-blue);
  }
  &.input-error {
    background: rgba(255, 0, 0, 0.15);
    outline: 2px solid rgba(220, 20, 60, 0.75);
  }
}
input::placeholder {
  color: #8f8e8e;
}

button {
  display: inline-block;
  text-align: center;
  min-width: 150px;
  width: 30vw;
  margin: 0.75rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  background: var(--color-blue);
  color: #f3f3f3;
  font-size: clamp(0.85rem, 2.5vw, 20px);
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 3px 1px 2px rgb(15, 15, 15);
  &:hover {
    background: hsl(244, 100%, 16%);
    box-shadow: 1px 3px 1px 2px rgb(51, 51, 51);
  }
  &:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
  }
}

.signup {
  padding-top: 1rem;
  text-align: center;
  font-size: clamp(0.85rem, 2.5vw, 20px);
}
.signup a {
  text-decoration: none;
  font-weight: 700;
  color: #070160;
}
.error {
  padding-top: 0.5rem;
  padding-inline: 0.5rem;
  font-size: clamp(0.75rem, 2.8vw, 20px);
  color: crimson;
}
.text-center {
  text-align: center;
}

// @keyframes blink {
//   0% {
//     outline: 2px solid var(--color-blue);
//   }
//   75% {
//     outline: none;
//   }
//   100% {
//     outline: 2px solid var(--color-blue);
//   }
// }
