<div class="div-center" *ngIf="!totalPrice || !user">
  <app-loading></app-loading>
</div>
<div class="container" *ngIf="totalPrice && user">
  <nav>
    <a (click)="goBack()"
      ><i class="fa-solid fa-arrow-left fa-xl"></i> Retour
    </a>
  </nav>
  <div class="recap">
    <div class="top">
      <h3 class="title">Détails de la livraison</h3>
    </div>
    <div class="left">
      <p>{{ user.adresse }}, {{ user.codePostal }} {{ user.ville }}</p>
      <p>{{ user.prenom }} {{ user.nom.toUpperCase() }}</p>
    </div>
    <div class="right">
      <h3>Total: {{ totalPrice }},00€</h3>
    </div>
  </div>
  <div class="payment">
    <h3>Sélectionner un moyen de paiement :</h3>
    <div class="payment-method">
      <input
        (click)="authorizePayment = true"
        type="radio"
        name="payment"
        id="visa"
        value="visa"
      />
      <label for="visa">Visa</label>
    </div>
    <div class="payment-method">
      <input
        (click)="authorizePayment = true"
        type="radio"
        name="payment"
        id="amex"
        value="amex"
      />
      <label for="amex">Amercian Express</label>
    </div>
    <div class="payment-method">
      <input
        (click)="authorizePayment = true"
        type="radio"
        name="payment"
        id="paypal"
        value="paypal"
      />
      <label for="paypal">Paypal</label>
    </div>
  </div>
  <div class="finalize">
    <button class="pay" (click)="passOrder()" [disabled]="!authorizePayment">
      Valider le paiement
    </button>
    <p class="warn">
      Ce n'est qu'un projet, vous ne pouvez pas vraiment payer.
    </p>
  </div>
</div>
