nav a {
  display: block;
  font-size: clamp(0.85rem, 2.3vw, 20px);
  text-decoration: none;
  cursor: pointer;
  color: rgb(23, 23, 23);
  padding-block: clamp(1rem, 3vh, 50px);
  margin-left: clamp(1rem, 5vw, 50px);
  i {
    padding-right: 0.3rem;
  }
}
