.grid {
  /* le margin va être changé c'est juste plus propre pour visualiser  */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(3rem, 3.5rem, 4rem) clamp(0.5rem, 0.75rem, 1rem);
}

.container-small {
  padding: 2rem;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  h2 {
    margin: 0;
  }
}
.pagination ul {
  text-align: center;
  padding-block: 1rem;
  li {
    display: inline;
    margin-inline: 0.5rem;
    a {
      color: blue;
      cursor: pointer;
    }
    .selected {
      color: rgb(9, 9, 9);
    }
  }
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    padding-inline: 1rem;
  }
}
