.grid {
  /* le margin va être changé c'est juste plus propre pour visualiser  */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(3rem, 3.5rem, 4rem) clamp(0.5rem, 0.75rem, 1rem);
}

.container-small {
  padding: 2rem;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  h3 {
    margin: 0;
    font-size: clamp(0.85rem, 2vw, 18px);
  }
}
.pagination {
  margin-bottom: 2rem;
}
.pagination ul {
  display: block;
  text-align: center;
  margin: 2rem auto;
  padding-block: 0.3rem;
  width: min(300px, 80%);
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.05);
  transition: 0.3s ease-in-out;
  li {
    display: inline;
    margin-inline: clamp(0.5rem, 1vw, 0.7rem);
    a {
      color: hsl(240, 89%, 21%);
      cursor: pointer;
      font-weight: 700;
      font-size: clamp(1rem, 1.7vw, 1.2rem);
      &:hover {
        color: hsl(240, 89%, 41%);
      }
    }
    .selected {
      color: rgb(35, 34, 34);
    }
  }
  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

.card {
  width: 50%;
  min-width: 280px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  button.return {
    min-width: 150px;
    width: 30vw;
    margin: 0.75rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
    background: var(--color-blue);
    color: #f3f3f3;
    font-size: clamp(0.85rem, 2.5vw, 20px);
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 3px 1px 2px rgb(0, 0, 0.5);
    &:active {
      transform: translate(3px, 3px);
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
    }
  }
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    padding-inline: 1rem;
  }
}
