<div class="div-center" style="margin-top: 4rem" *ngIf="!user">
  <app-loading></app-loading>
</div>
<div class="container" *ngIf="user">
  <nav>
    <a routerLink="/"
      ><i class="fa-solid fa-arrow-left fa-xl"></i> Retour au menu</a
    >
  </nav>
  <div class="header-profile">
    <h1>Bienvenue {{ user.prenom }}</h1>
    <button (click)="signOut()" class="sign-out">Déconnexion</button>
  </div>
  <mat-tab-group>
    <mat-tab label="Informations">
      <app-tab-info [user]="user"></app-tab-info>
    </mat-tab>
    <mat-tab label="Adresse">
      <app-tab-address [user]="user"></app-tab-address>
    </mat-tab>
    <mat-tab label="Commandes">
      <app-tab-orders [user]="user"></app-tab-orders>
    </mat-tab>
  </mat-tab-group>
</div>
