<div class="div-center" style="margin-top: 4rem" *ngIf="!user">
  <app-loading></app-loading>
</div>
<div class="container" *ngIf="user">
  <nav>
    <a routerLink="/"
      ><i class="fa-solid fa-arrow-left fa-xl"></i> Retour au menu</a
    >
  </nav>
  <div class="header-profile">
    <h1>Bienvenue {{ user.prenom }}</h1>
    <button class="sign-out">Déconnexion</button>
  </div>
  <mat-tab-group>
    <mat-tab label="Informations">
      <app-tab-one [user]="user"></app-tab-one>
    </mat-tab>
    <mat-tab label="Moyens de paiements">
      <app-tab-two></app-tab-two>
    </mat-tab>
    <mat-tab label="Adresse">
      <app-tab-three></app-tab-three>
    </mat-tab>
    <mat-tab label="Commandes">
      <app-tab-four [user]="user"></app-tab-four>
    </mat-tab>
  </mat-tab-group>
</div>
