.container {
  margin: 4rem auto 2rem;
  width: 90%;
  max-width: 1400px;
}
h1 {
  text-align: center;
  font-size: clamp(1.2rem, 3vw, 2.5em);
  font-weight: 700;
}

.extra-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: clamp(1.5rem, 7vh, 4rem);
  padding-top: clamp(0.5rem, 3vh, 1rem);
}

button {
  padding: 0.3em 1em;
  display: grid;
  font-size: clamp(0.75rem, 2.5vw, 24px);
  place-items: center;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  &.cancel {
    color: #f3f3f3;
    background: crimson;
    border: 1px solid black;
    &:hover {
      color: crimson;
      border: 2px solid crimson;
      background: #f3f3f3;
    }
  }
  &.submit,
  &.changePass {
    color: var(--color-blue);
    border: 2px solid var(--color-blue);
    background: #f3f3f3;
    &:hover {
      color: #f3f3f3;
      background: var(--color-blue);
      border: 1px solid black;
    }
    &.updating {
      color: #f3f3f3;
      background: var(--color-blue);
      border: 1px solid black;

      &:hover {
        color: var(--color-blue);
        background: #f3f3f3;
        border: 2px solid var(--color-blue);
      }
    }
    &:disabled {
      background: hsl(210, 7%, 22%);
      color: rgba(255, 255, 255, 0.673);
      cursor: not-allowed;
      &:hover {
        background: hsl(210, 7%, 22%);
        color: rgba(255, 255, 255, 0.673);
        cursor: not-allowed;
      }
    }
  }
}

.form-group {
  padding-block: 1rem;
  label {
    padding-bottom: 0.5rem;
    display: block;
    font-size: clamp(0.95rem, 2.8vw, 24px);
  }
  .error {
    padding-top: 0.5rem;
    padding-inline: 0.5rem;
    font-size: clamp(0.75rem, 2.8vw, 20px);
    color: crimson;
    @media (max-width: 361px) {
      padding-inline: 0;
    }
  }
}

input {
  &:read-only {
    color: hsl(0, 0%, 51%);
    font-size: clamp(0.75rem, 2.2vw, 19px);

    &:focus,
    &:active {
      outline: none;
    }
  }
  transition: 0.3s ease;
  height: 6vh;
  padding-inline: 0.7rem;
  width: 70%;
  min-width: 250px;
  font-size: clamp(0.95rem, 2.8vw, 24px);
  border-radius: 7px;
  outline: none;
  border: none;
  background: hsla(0, 0%, 50%, 0.25);
  color: #404040;
  &:focus,
  &:active {
    outline: 2px solid var(--color-blue);
  }
  &.input-error {
    background: rgba(255, 0, 0, 0.15);
    outline: 2px solid rgba(220, 20, 60, 0.75);
  }
}
input::placeholder {
  color: #8f8e8e;
}

fieldset {
  legend {
    font-size: clamp(0.95rem, 2.8vw, 24px);
  }
  padding: 0.75rem 1rem;
  width: 70%;
  min-width: 250px;
  border-radius: 5px;
  .flex {
    gap: 2rem;
    align-items: center;
    display: flex;
    padding-bottom: 0.75rem;
    label {
      padding-bottom: 0 !important;
    }
  }
  input {
    outline: none;
    border: none;
    width: 3vw;
    min-width: 20px;
    height: 2.5vh;
    max-height: 20px;
    min-width: 0;
  }
}
