<div class="container">
  <h1>Mes information personnelles</h1>
  <form class="data" [formGroup]="userForm">
    <div class="form-group">
      <label for="nom">Nom :</label>
      <input
        id="nom"
        [readOnly]="!updating"
        name="nom"
        type="text"
        placeholder="ex: Doe"
        formControlName="nom"
      />
      <div class="error" *ngIf="updating && form['nom'].errors">
        <span *ngIf="form['nom'].hasError('minlength')"
          >Votre nom doit faire au moins 3 caractères</span
        >
        <span *ngIf="form['nom'].hasError('required')"
          >Un nom est nécessaire</span
        >
      </div>
    </div>
    <div class="form-group">
      <label for="prenom">Prénom :</label>
      <input
        id="prenom"
        name="prenom"
        formControlName="prenom"
        [readOnly]="!updating"
        type="text"
        placeholder="ex: John"
      />
      <div class="error" *ngIf="updating && form['prenom'].errors">
        <span *ngIf="form['prenom'].hasError('minlength')"
          >Votre prenom doit faire au moins 3 caractères</span
        >
        <span *ngIf="form['prenom'].hasError('required')"
          >Un prenom est nécessaire</span
        >
      </div>
    </div>
    <div class="form-group">
      <label for="pseudo">Pseudo :</label>
      <input
        formControlName="pseudo"
        id="pseudo"
        name="pseudo"
        [readOnly]="!updating"
        type="text"
        placeholder="ex: JoeRoegan68"
      />
      <div class="error" *ngIf="updating && form['pseudo'].errors">
        <span *ngIf="form['pseudo'].hasError('minlength')"
          >Votre pseudo doit faire au moins 3 caractères</span
        >
        <span *ngIf="form['pseudo'].hasError('required')"
          >Un pseudo est nécessaire</span
        >
      </div>
    </div>
    <div class="form-group">
      <fieldset>
        <legend>Votre civilité :</legend>

        <div class="flex">
          <input
            required
            type="radio"
            id="femme"
            formControlName="civilite"
            name="civilite"
            [attr.disabled]="!updating ? true : null"
            value="f"
            [checked]="user.civilite === 'f'"
          />
          <label for="femme">Femme</label>
        </div>
        <div class="flex">
          <input
            type="radio"
            formControlName="civilite"
            [attr.disabled]="!updating ? true : null"
            id="homme"
            name="civilite"
            value="m"
            [checked]="user.civilite === 'm'"
          />
          <label for="homme">Homme</label>
        </div>
      </fieldset>
    </div>
    <div class="form-group">
      <label for="email">Email :</label>
      <input
        formControlName="email"
        id="email"
        [readOnly]="!updating"
        name="email"
        type="email"
        placeholder="ex: john.doe@gmail.com"
      />
      <div class="error" *ngIf="updating && form['email'].errors">
        <span *ngIf="form['email'].hasError('email')"
          >Le format d'email devrait plutôt ressembler à :
          john.doe@gmail.com</span
        >
        <span *ngIf="form['email'].hasError('required')"
          >Une adresse email est nécessaire</span
        >
      </div>
    </div>
    <div class="form-group">
      <label for="telephone">Téléphone (facultatif) :</label>
      <input
        formControlName="telephone"
        id="telephone"
        name="telephone"
        [readOnly]="!updating"
        type="tel"
        placeholder="ex: +33 6 68 53 17 07"
      />
      <div class="error" *ngIf="updating && form['telephone'].errors">
        <span
          >Votre numéro de téléphone devrait ressembler à : +33 6 68 53 17
          07</span
        >
      </div>
    </div>
    <div class="btn-container">
      <button
        [ngClass]="updating ? 'updating' : ''"
        class="submit"
        (click)="updateInfos()"
        [disabled]="updating && !userForm.valid"
      >
        <span>{{ message }}</span>
      </button>
      <button class="cancel" (click)="cancel()" *ngIf="updating">
        Annuler
      </button>
      <!-- ICI 2E FORMULAIRE CHANGEMENT MDP -->
    </div>
    <div class="extra-button">
      <button
        class="changePass"
        (click)="modalPasswordService.open('modal-password')"
      >
        Changer de mot de passe
      </button>
    </div>
  </form>
</div>
<app-password-modal id="modal-password">
  <button (click)="modalPasswordService.close()">Close</button>
</app-password-modal>
