/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-blue: #040037;
}
body {
  background: white;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  // padding-top: 120px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.div-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-mdc-snack-bar-container {
  --mat-mdc-snack-bar-button-color: #f3f3f3 !important;
  --mat-mdc-snack-bar-button-font-size: 17px !important;
  --mat-mdc-snack-bar-button-font-weight: 700 !important;

  .mdc-snackbar__actions {
    --mat-mdc-snack-bar-button-size: 18px !important;
  }

  &.add-cart-snackbar {
    --mdc-snackbar-container-color: #040037 !important;
  }

  &.error-snack {
    --mdc-snackbar-container-color: #a31919;
  }
  &.warning-snack {
    --mdc-snackbar-container-color: #c07804;
  }

  &.welcome-snackbar {
    --mdc-snackbar-container-color: #040037;
  }

  &.success-snackbar {
    --mdc-snackbar-container-color: rgb(54, 121, 9);
  }
}
.snackbar-emoji {
  font-size: 70px !important;
}
